.wearable-metadata__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px;
  -webkit-transition: background 0.35s;
  -moz-transition: background 0.35s;
  -ms-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}

.wearable-metadata__container:hover {
  background: #716b7c;
}

.wearable-metadata__wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 69px);
}

.wearable-metadata__container .ui.primary.button {
  width: auto;
  max-width: none;
  min-width: 0;
  padding: 8px 16.5px;
  margin-right: 36px;
}

.wearable-metadata__container .wearable-metadata__image-container {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--common);
}

.wearable-metadata__container .wearable-metadata__image-container.common {
  background-color: var(--common);
}

.wearable-metadata__container .wearable-metadata__image-container.uncommon {
  background-color: var(--uncommon);
}

.wearable-metadata__container .wearable-metadata__image-container.rare {
  background-color: var(--rare);
}

.wearable-metadata__container .wearable-metadata__image-container.epic {
  background-color: var(--epic);
}

.wearable-metadata__container .wearable-metadata__image-container.legendary {
  background-color: var(--legendary);
}

.wearable-metadata__container .wearable-metadata__image-container.mythic {
  background-color: var(--mythic);
}

.wearable-metadata__container .wearable-metadata__image-container.unique {
  background: var(--unique);
}

.wearable-metadata__container .wearable-metadata__image-container img {
  width: 80px;
  height: 80px;
}

.wearable-metadata__container span {
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 600;
  margin-left: 32px;
  margin-right: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
