.image-viewer__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;

  -webkit-transition: width 0.35s;
  -moz-transition: width 0.35s;
  transition: width 0.35s;
}

.image-viewer__container.show-metadata {
  width: calc(100vw - 571px);
}

.image-viewer__image {
  width: 100%;
  height: 100%;
  background-color: black;
}

.image-viewer__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-viewer__gradient {
  content: "";
  opacity: 0.7;
  background: linear-gradient(180deg, #161518 0%, rgba(22, 21, 24, 0) 100%);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
}

.image-viewer__container .image-actions {
  position: absolute;
  top: 27px;
  right: 45px;
}

@media only screen and (max-width: 991px) {
  .image-viewer__container .image-actions {
    right: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .image-viewer__container .image-actions {
    right: 26px;
  }
}
