body {
  background: var(--background);
}

.dcl.navbar.LayoutNavbarContainer {
  margin-bottom: 0;
  border-bottom: 0;
}

.dcl.navbar.LayoutNavbarContainer.initial {
  background-color: var(--background);
}

.LayoutMainContainer > .dcl.tabs {
  margin-bottom: 0;
}

.LayoutMainContainer > .dcl.tabs .dcl.tab {
  color: var(--text);
}

.LayoutMainContainer > .dcl.hero {
  padding: 64px 16px;
}

.ui.container.full,
.dcl.hero .ui.container,
.ui.container.footer.LayoutFooterContainer,
.LayoutNavbarContainer > .ui.container,
.LayoutMainContainer > .dcl.tabs .ui.container,
.navigation-menu.fullscreen .dcl.tabs .ui.container {
  width: calc(100% -48px);
}

.ui.button:not(.icon) > img.left.icon:not(.button):not(.dropdown) {
  margin: 0 0 0 0.5rem;
  opacity: 1;
  height: 1em;
}

.ui.page.modals.visible.active {
  padding: 0;
}

.dcl.box .ui.selection.dropdown {
  width: calc(100% + 24px);
  margin-left: -12px;
}

.dcl.box .ui.dropdown > .text {
  color: var(--text);
  text-transform: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.navigation-menu.fullscreen .dcl.tabs .dcl.tabs-left {
  display: flex;
}

.places__pagination {
  display: flex;
}

.places__pagination .ui.pagination {
  margin: 64px auto 0;
}

@media (max-width: 768px) {
  .navigation-menu .dcl.tabs .dcl.tabs-left .dcl.tab.active {
    border-left: none;
  }
  .navigation-menu .dcl.tabs .dcl.tabs-left .dg.Link .dcl.tab {
    color: var(--text);
    margin-right: 16px;
  }
  .navigation-menu .dcl.tabs .dcl.tabs-left .dg.Link:last-child .dcl.tab {
    margin-right: 0;
  }
  .navigation-menu .dcl.tabs .dcl.tabs-left .dcl.tab .active-bar {
    bottom: -10px;
    display: block;
    left: 16px;
  }
}

@keyframes loading {
  to {
    background-position-x: -200%;
  }
}
